
.grow {
    height: 30vh;
  }
.footerimg {
  width: 2vw;
  font-size: 1.5vw;
}
footer img{
  width: 100%;
}
footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .5vw .3vw;
  background-color: #F7F7F7;
  white-space: nowrap;
}