
.grow {
    height: 25vh;
  }
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .5vw .3vw;
  background-color: #F7F7F7;
  white-space: nowrap;
  font-size: 12px;
  width: 100%;
}

.footertitle {
  font-size: 18px;
  letter-spacing: 1px;
  color: red;
}

.footer2{
  text-align: center;
}

.footerhelp a { 
  color: black;
}
.footershop a {
  color: black;

}

.footerxtras a {
  color: black;
}
.footerhelp a:hover { 
  color: silver;
}
.footershop a:hover {
  color: silver;

}
.footerxtras a:hover {
  color: silver;
}


@media screen and (max-width:600px) {
  footer {
    font-size: 12px;
  }

  .footertitle {
    font-size: 18px;
  }
  
}

@media screen and (min-width: 1200px) {
  footer {
    font-size: 16px;
  }

  .footertitle {
    font-size: 30px;
  }
  
}